.header__logo {
  margin-bottom: 36px;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 680px) {
  .header__logo {
    margin: 0 auto 27px 27px;
  }
}

@media screen and (max-width: 520px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}
