.profile__info {
  margin-right: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 660px) {
  .profile__info {
    margin-right: 9px;
  }
}

@media screen and (max-width: 520px) {
  .profile__info {
    margin: 0;
  }
}
