.profile__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  text-align: start;
  max-width: 335px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 680px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    max-width: 282px;
    margin: 0 auto;
  }
}
