.pop-up__title {
  margin: 34px 36px 44px 36px;
  text-align: start;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}

@media screen and (max-width: 680px) {
  .pop-up__title {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 26px 9px 40px auto;
  }
}
