.gallery {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;
  font-size: 0;
  overflow: hidden;
}

@media screen and (max-width: 680px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 19px;
    margin-right: 19px;
  }
}
