.card__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/card__btn.svg);
  background-repeat: no-repeat;
  flex-shrink: 0;
  align-self: center;
  transition: 0.3s;
}

.card__btn:hover {
  opacity: 0.5;
  cursor: pointer;
}
