.profile__btn_type_avatar {
  border: 0;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  overflow: hidden;
  margin-right: 30px;
  padding: 0;
  position: relative;
}

.profile__btn_type_avatar::before {
  content: '';
  position: absolute;
  z-index: 2;
  inset: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../../images/Edit-Button.svg);
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
}

.profile__btn_type_avatar:hover::before {
  visibility: visible;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .profile__btn_type_avatar {
    margin: 0 auto;
  }
}
