.header {
  max-width: 880px;
  margin: 0 auto 0 auto;
  padding-top: 46px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
}

@media screen and (max-width: 680px) {
  .header {
    padding-top: 28px;
  }
}
